---
---
// Hello

html {
  box-sizing: border-box;
}


*, *:before, *:after {
  box-sizing: inherit; 
}


html{
	background: #eee;
	color:#444;
	font-size: 18px;
	border-top: solid 10px;
	line-height: 1.5;
}

p, h1, h2, h3, h4, h5, h6, ul, ol{
	margin-left: 5%;
	margin-right: 5%;
}


li{
	margin-bottom: 0.5em;
}


a {
	color: #666;
}

hr{
	border: solid 2px;
}



h1,h2,h3,h4,h5,h6{
	font-family: Raleway, sans-serif;
	font-weight: 600;
	text-transform: uppercase;
}

body{
	font-family: 'Droid serif', serif;
	font-weight: 400;
	margin: 0;
}

#instafeed{
	width: 60%;
	max-width: 100%;
	float: left;
	position: relative;
	top: -8vw;
	margin-top: 8vw;
	z-index: 10;
}

#instafeed a{
	display: block;
	line-height: 0;

}


#instafeed img{
	width: 100%;
}

#twitter{
color: #eee;
width: 40%;	
max-width: 100%;
padding: 2%;
background: #000;
background-image:url(twitter.svg);
background-size: 100%;
background-position: center;
background-repeat: no-repeat;
position: relative;
float: left;
height: 40vw;
font-size: 2.5vw;
margin-top: 8vw;
overflow: hidden;
z-index: 10;
}

#twitter .citation{
	position: absolute;
	bottom: 1em;
	right: 1em;

}

#tweeter ul{
	list-style: none;
	padding: 0;
	display: inline;
	margin: 0;
}
#tweeter li{
	display: inline;
	margin: 0;
	}
.tweet{
	margin: 0;
	text-indent: -0.4em;
}

.tweet:before{
		content: '"';
	
	}

.tweet:after{
		content: '"';
	
	}



#post{
	clear: both;
	background: #aaa url("placeholder.jpg");
	background-size: cover; 
	padding-top: 8vw;
	padding-bottom: 8vw;


}



#post h2{
	margin: 5%;
	font-size: 2em;
}

#post h2:before{
	content: "Latest Post:";
	display: block;
}


#latestPostLink{
	text-decoration: none;
	color: #000;
	display: block;
	margin: 0 5vw -14vw;
	position: relative;
	clear: both;
	top: -14vw;
}

#oldPosts a{
	text-decoration: none;
	color: inherit;
	font-weight: inherit;
}

#oldPosts a:hover{
	text-decoration: underline;
}

#oldPostList{
	list-style-type: upper-roman;
}

#oldPosts h3{
	margin-left: 0;
	margin-right: 0;
}



.pullOut{
	font-family: Raleway, sans-serif;
	font-weight: 100;
	text-transform: uppercase;
	text-align: left;
	color: #eee;
	background: #444;
	margin: 0.5em 0;
	padding: 0.5em 0.75em 0.65em;
	line-height: 1;
	margin-left: 15vw;
}


.pullOut:nth-of-type(even){
	text-align: right;
	margin-right: 15vw;
	margin-left: 0;
}

blockquote.pullOut{
	text-indent: -0.4em;
}

blockquote.pullOut:before{
	content: '"';
	font-size: 1.5em;
}
blockquote.pullOut:after{
	content: '"';
	font-size: 1.5em;
}


#mainFooter{
	border-top: solid 10px;
}

@media all and (min-width: 612px) {


	p, h1, h2, h3, h4, h5, h6, ul, ol{
	margin-left: 15%;
	margin-right: 15%;
	}

	#updates{
		margin-left: 15vw;
		margin-right: 15vw; 
	}

	#twitter{
		color: #eee;
		height: 28vw;
		font-size: 2vw;
	}

	#post h2{
		font-size: 3em;
	}

}



@media all and (min-width: 866px) {


	p, h1, h2, h3, h4, h5, h6, ul, ol{
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
	}

}
	
