html {
  box-sizing: border-box;
  overflow-x: hidden;
}


*, *:before, *:after {
  box-sizing: inherit;
}


html{
	background: #eee;
	color:#444;
	font-size: 16px;
	font-size: 4vw;
	border-top: solid 10px;
	line-height: 1.5;
}

li{
	margin-bottom: 0.5em;
}


#header{
	

}

a {
	color: #666;
}

h1,h2{
	font-family: Raleway, sans-serif;
	font-weight: 600;
	text-transform: uppercase;
}

body{
	font-family: 'Droid serif', serif;
	font-weight: 400;
	margin: 0 auto;
	overflow-x: hidden;
}


#main{
	margin: 0 5%;
}

#instafeed{
	width: 60%;
	max-width: 100%;
	float: left;
	position: relative;
	top: -8vw;
	margin-top: 8vw;
	z-index: 10;
}

#instafeed a{
	display: block;
	line-height: 0;

}


#instafeed img{
	width: 100%;
}



#twitter{
color: #eee;
width: 40%;	
max-width: 100%;
padding: 2%;
background: #000;
background-image:url(twitter.svg);
background-size: 100%;
background-position: center;
background-repeat: no-repeat;
position: relative;
float: left;
height: 40vw;
font-size: 3vw;
margin-top: 8vw;
overflow: hidden;
z-index: 10;


}

#twitter .citation{
	position: absolute;
	bottom: 1em;
	right: 1em;

}

#tweeter ul{
	list-style: none;
	padding: 0;
	display: inline;
}
#tweeter li{
	display: inline;
	}
.tweet{
	display: inline;
}

.tweet:before{
		content: '"';
	
	}


#post{
	clear: both;
	background: #aaa url("placeholder.jpg");
	background-size: cover; 
	padding-top: 24vw;
	padding-bottom: 8vw;
	position: relative;
	top: -21vw;

}

#post h2{
	margin: 5%;
}

#post h2:before{
	content: "Latest Post:";
}


#latestPostLink{
	text-decoration: none;
	color: #000;
	display: block;
}





@media all and (min-width: 768px) {

	html{
		font-size: 3vw;
	}

	#main, #mainFooter{
		width: 90%;
		margin: 0 auto;
	}

	#post{
		width: 90%;
		margin: 0 auto;
	}

	}



@media all and (min-width: 1080px) {

	html{
		font-size: 2vw;
	}

	html .post{
		font-size: 24px;
	}

	body{
		max-width: 1060px;
	}
		#main, #mainFooter{
			max-width: 960px;

		}
		#post{
			max-width: 960px;
		}

		#twitter{
			height: 424px;
			font-size: 36px;
			margin-top: 70px;
		}

}


