<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="/css/style.css" >
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script type="text/javascript" src="js/instafeed.js"></script>
	<script type="text/javascript" src="js/tweeter.js"></script>
	<script type="text/javascript">
		var userFeed = new Instafeed({
		get: 'user',
		userId: 384202,
		accessToken: '384202.467ede5.5d66dad07b1d42aaada515392c8265ab',
		links: true,
		limit: 1,
		resolution: 'standard_resolution'
		});
		userFeed.run();
	</script>

</head>
<body>
 
   
