<nav id="mainNav" role="navigation" class="" >
    <ul class="navList">
		<li class="navList-item {% if page.name == 'home' %}active{% endif %}" >
			<a class="navList-item-link" href="/">Home</a>
		</li>
		<li class="navList-item {% if page.name == 'blog_home' %}active{% endif %}">
			<a class="navList-item-link" href="/blog">Blog</a>
		</li>
		
		<li class="navList-item {% if page.name == 'projects_home' %}active{% endif %}">
			<a class="navList-item-link" href="/projects">Projects</a>
		</li>

		<li class="navList-item {% if page.name == 'experiments_home' %}active{% endif %}">
			<a class="navList-item-link" href="/experiments">Experiments</a>
		</li>

    	<li class="navList-item">
        	<a class="navList-item-link" href="http://pocketscraps.tumblr.com/">Pocket Scraps</a>
        </li>
    </ul>
</nav>
