.siteTitle {
	position: relative;
 	display: block;
}

.siteTitle small{
	display: block;
	color: $main;
}

.siteTitleLink{
	color: $text-color;
	text-decoration: none;
}


#siteHeader{
	margin-top: 0;
	padding-top: 5px;
}