$dark-blue: hsl(196, 12%, 17%);
$light-blue: hsl(193, 26%, 80%);
$white: hsl(0, 0%, 100%);
$red: hsl(4, 100%, 59%);
$grey:  hsl(194, 40%, 90%);







$dark: $dark-blue;
$light: $white;
$accent: $light-blue;
$main: $red;
$fade: $grey;

$base-size: 10px;

$body-bg: $light;




$serif-font: 'PT Serif', serif; 
$sans-serif-font: 'PT Sans Narrow', sans-serif;

$text-color: $dark;
$base-font-size: $base-size*1.8;
$base-font-family: $serif-font;
$base-font-weight: normal;

$heading-font-family: $sans-serif-font;
$heading-font-weight: 700;



$heading1-size: 5.5*$base-size; 
$heading2-size: 4*$base-size; 
$heading3-size: 3.5*$base-size; 
$heading4-size: 3*$base-size; 
$heading5-size: 2.5*$base-size; 

