@import "_variables";
$cvbp: 500px;

h1,h2{
	clear: both;
	padding-top: 1em;
}

.block{
	@media (min-width: $cvbp) { 
		width: 80%;
	}
}

.label,.info{
	  display: inline-block;
    padding: .25rem 0;
    vertical-align: top;
    max-width: 85%;

	@media (min-width: $cvbp) { 
		display: block;
		padding: .5rem;
	}

}

.label{
			@media (min-width: $cvbp) {
				float: left;
				text-align: right;
				width: 30%;
				padding-left: 0;
			}
			color: lighten($dark, 40%);

}

.label.position{
	display: none;
}

.info.position{
	font-weight: $heading-font-weight;
	font-size: $heading3-size;
	line-height: 1;
}


.info{
	@media (min-width: $cvbp) {
		float: right;
		width: 70%;
		padding-right: 0;
	}
}


.field{
	clear: both;
}

p{
	margin: 0 0 1rem;
}