{% include head.html %}
    {{content}}

<div id="updates">
	<section id="instafeed">
	</section>
	<section id="twitter">
		<span id="tweeter"></span>
		<span class="citation">- <a href="https://twitter.com/NickPhillipps">Me on twitter</a></span>
	</section>
{% include post_latest.html %}    
</div>

<div id="oldPosts">
	<h2>Older Posts</h2>
	<ul>
{% for post in site.posts offset:1 %}
	<li><h3 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h3></li>
{% endfor %}
	</ul>
</div>

{% include footer.html %}